/* 
* Optional: Makes the sample page fill the window. 
*/
.outline {
  position: fixed;
  border-radius: 25px;
  border: 2px solid #9adde8;
  padding: 20px; 
  width: 90%;
  height: 90%; 
}

.headline {
  text-align: center;
}

.slidecontainer {
width: 50%;
padding-left: 200px;
}

.slider {
appearance: none;
width: 50%;
position: fixed;
height: 25px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
background: #04AA6D;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
background: #04AA6D;
cursor: pointer;
}

.canvas-container {
  text-align: center;
  margin-bottom: 20px;
}

.canvas {
  border: 1px none;
  border-radius: 5px;
  background-color: #9adde8;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.grid-container div {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transition: all 0.3s ease;
padding: 10px;
}

.grid-container div:hover {
transform: scale(1.05);
}

.button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  display: inline-block;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
